In [8]:
# To default to float division
from __future__ import division

import csv
import pandas
import sklearn
import sklearn.ensemble
from sklearn import feature_extraction

print('Done')

Done

In [4]:
data = pandas.read_csv('data/train.csv', nrows=1000)

X_train_index, X_test_index, Y_train, Y_test = sklearn.cross_validation.train_test_split(
    data.index, data['LogSalaryNormalized'], test_size=.33, random_state=42)

# Keep train and test as pandas dataframes.
X_train = data.iloc[X_train_index]
X_test = data.iloc[X_test_index]

data.head()

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName,TitleRaw,DescriptionLength,LogSalaryNormalized,FullDescriptionWithTitle
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,unknown_value,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk,Engineering Systems Analyst,348,10.126631,Engineering Systems Analyst Engineering System...
1,12613049,Engineering Systems Analyst Mathematical Modeller,Engineering Systems Analyst / Mathematical Mod...,"Surrey, South East, South East",Surrey,unknown_value,permanent,Gregory Martin International,Engineering Jobs,25000 - 30000/annum 25K-30K negotiable,27500,cv-library.co.uk,Engineering Systems Analyst / Mathematical Mod...,397,10.221941,Engineering Systems Analyst Mathematical Model...
2,12613647,Pioneer Miser Engineering Systems Analyst,"Pioneer, Miser Engineering Systems Analyst Do...","Surrey, South East, South East",Surrey,unknown_value,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk,"Pioneer, Miser Engineering Systems Analyst",216,10.126631,Pioneer Miser Engineering Systems Analyst Pion...
3,13179816,Engineering Systems Analyst Water Industry,Engineering Systems Analyst Water Industry Loc...,"Dorking, Surrey, Surrey, Surrey",Dorking,unknown_value,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20K to 30K,25000,cv-library.co.uk,Engineering Systems Analyst Water Industry,1602,10.126631,Engineering Systems Analyst Water Industry Eng...
4,14131336,Senior Subsea Pipeline Integrity Engineer,A globally renowned engineering and training c...,"Aberdeen, Borders",UK,unknown_value,permanent,Indigo 21 Ltd,Engineering Jobs,50000 - 100000/annum,75000,cv-library.co.uk,Senior Subsea Pipeline Integrity Engineer,1364,11.225243,Senior Subsea Pipeline Integrity Engineer A gl...

In [15]:
MIN_WORD_FREQUENCY = 2

def hash_vect(field):
    hash_vect_fn = sklearn.feature_extraction.text.HashingVectorizer(
        stop_words='english', n_features=250,  decode_error='ignore')
    
    X_train_full_description_hashs = hash_vect_fn.fit_transform(X_train[field])
    X_test_full_description_hashs = hash_vect_fn.transform(X_test[field])
    
    print(X_train_full_description_hashs.shape)
    print(X_test_full_description_hashs.shape)
    
hash_vect('LocationNormalized')

(670, 250)
(330, 250)